.main {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

.page {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 50px;
}

.closeButton {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@media only screen and (max-width: 480px) {
    .page {
        width: 95%;
    }
}

@media only screen and (min-width: 481px) {
    .page {
        width: 60%;
    }
}