.main {
    position: fixed;
    width: 100%;
    overflow-y: auto;
}

.page {
    position: absolute;
    border: 1px solid black;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 480px) {
    .main {
        top: 40px;
        height: calc(100% - 40px);
    }

    .page {
        width: 95%;
    }
}

@media only screen and (min-width: 481px) {
    .main {
        top: 60px;
        height: calc(100% - 60px);
    }

    .page {
        width: 60%;
    }
}