.collapsible {
    padding-left: 8px;
}

.button {
    padding: 0;
    border: none;
    background: none;
}

.header {
    text-decoration: underline;
    display: inline-block;
    font-size: 20px;
}

.arrow {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    position: relative;
    width: 8px;
    height: 8px;
}
  
.arrow::before, .arrow::after {
    content: '';
    position: absolute;
    background: currentColor;
    border-radius: 0.1em;
}
  
.arrow::before {
    top: 0;
    left: 0px;
    right: 0;
    height: 0.1em;
}
  
.arrow::after {
    top: 0;
    right: 0;
    bottom: 0;
    width: 0.1em;
}

.right {
    transform: translate(-100%, -25%) rotate(45deg);
}

.down {
    transform: translate(-100%, -75%) rotate(135deg);
}