html, body, main, button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

html, body {
    height: 100%;
}

main {
    position: fixed;
    height: calc(100% - 60px);
    width: 100%;
    top: 60px;
}
