.footer {
    position: relative;
    display: flex;
    bottom: 20px;
    width: 100%;
    height: 40px;
    font-size: 30px;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

.home {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translate(-50%, -50%);
}

.previous {
    position: absolute;
    display: flex;
    left: 40%;
    transform: translate(-50%, -50%);
}

.next {
    position: absolute;
    display: flex;
    left: 60%;
    transform: translate(-50%, -50%);
}